<h1>THIS IS HOMEPAGE!</h1>
<p1>Hi i'm Lewis Johnston and this is my first attempt with a Sinatra-based
  webpage. Thrilling! Here are some gifs for your enjoyment :) </p1>
<ul>
  <li><img id="giflist" src="images/jumpfail.gif" width=300 height=250 alt="Failed Jump"><br>
  <li><img id="giflist" src="images/aaaggh.gif" width=300 height=250 alt="Jump Scare"><br>
  <li><img id="giflist" src="images/eatyourgreens.gif" width=300 height=250 alt="Godzilla"><br>
  <li><img id="giflist" src="images/surprisedcat.gif" width=300 height=250 alt="Surprised Cat"><br>
</ul>
