<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Lewis Johnston's webpage! Learn everything
    Lewis Johnston here!">
    <title>Lewis Johnston | Student Web Designer</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel="icon" href="images/bulb.ico">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/address">Address</a></li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <div id="cfooter">
        <a href="http://twitter.com/"><img src="images/twitter.png" alt="Twitter Logo"></a>
        <a href="http://facebook.com/"><img src="images/facebook.png" alt="Facebook Logo"></a>
        <p>&copy; 2016 Lewis Johnston</p>
      </div>
    </footer>
  </body>
</html>
